<turbo-frame id="edit_name">
  <%= form_with url: task_name_path(task_id: @task.id), method: :patch, class: "space-y-4" do |f| %>
    <div class="form-group mb-0">
      <%= f.text_field :name, value: @task.name, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
    </div>
    <% if @task.errors[:name].present? %>
      <div class="mt-1 text-sm text-red-600">
        <%= @task.errors.full_messages_for(:name).join(', ') %>
      </div>
    <% end %>
  <% end %>
</turbo-frame>
